<h4>Welcome!</h4>

<p>This is a tool for taking live statistics for sports or esports. 
    When you're ready, check our the "Add" and "Events" tabs. When 
    an event happens, you will add the specifications in the "Add" 
    tab and hit submit. Then you will see the event has been added 
    in your event tab. Once you are done adding events, click the 
    submit button and you will be taken to a game summary report 
    that you can save or take a screenshot of. To restart with a 
    new game, just refresh the page.</p>
